/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    background: #FFF;
    padding: 3em;
    font-family: 'Arvo', monospace;
    color: #fff;
}
ul {
    list-style-type:none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: #fff;
    text-decoration: none;
}



/* For home.component.scss */
.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #2885C4;
}
.color-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #ffffff;
    color: #464646;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.life-container {
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}
.img-circle{
    height: auto; 
    width: 20px; 
    vertical-align: middle; 
    border-radius: 999em;
}

header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
  }

  .band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  @media (min-width: 30em) {
    .band {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 60em) {
    .band {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  .card:hover {
    top: -2px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  .card article {
    padding: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  .card p {
      color: #333 !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 1.4;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
  .card .thumb {
    padding-bottom: 5%;
    background-size: cover;
    background-position: center center;
  }
  .card .thumb img{
  }
  
  @media (min-width: 60em) {
    .item-1 {
      grid-column: 1 / span 2;
    }
    .item-1 h1 {
      font-size: 24px;
    }
  }
  